<%= render "layouts/header" %>
<div class="container-fluid">
   <div class="avi_events_container"><h4 class="events">Current Events</h4><small class="caption">  <h5 class="event_heading">Free Transceiver workshops<br /></h5>
                <p class="Body">   <span style="line-height: 18px; " class="style_2"> Starting Dec 15th, these free clinics run through the winter on the 1st and 15th of each month through April. <br /></span></p>
                <p style="padding-bottom: 0pt; " class="Body"><span style="line-height: 18px; " class="style_2">Call 530-581-7260 for details.</span></p></small></div>
  <h1 class="fund">Squaw Valley Avalanche Education Fund</h1>

<div class="avi_img_container left"><%= image_tag "boomer_avi.jpg", class: "avi_img img-responsive" %><small class="caption">Boomer stands guard atop KT</small></div>

<p class="avi">Squawdogs is currently managing the Squaw Valley Avalanche Education Fund.  This fund is dedicated to the education of the general public in Avalanche Education.  We will be working hard to keep the mission of educating the community a top priority.<br /></p>

                <p class="avi">In the last ten years, this fund has awarded well over 140 Avalanche Level 1 scholarships to members of the community  <br /></p>

                <p class="avi">Since 1995, we have been offering a free two hour avalanche awareness and transceiver clinic every friday night during the winter months.  From its inception, we estimate that we have reached out to well over 4,500 members of our community.<br /></p>
                <div class="avi_link_container right"><small class="caption">Resources and Useful Links:</small>
                  <%= link_to "http://sierraavalanchecenter.org/" do %><%= image_tag "Sierra_avi.jpg", class: "avi_img img-responsive" %><% end %><%= link_to "http://avtraining.org/" do %><%= image_tag "aiare.jpg", class: "avi_img img-responsive" %><% end %><%= link_to "http://www.recco.com/" do %><%= image_tag "RECCO_logo.svg.png", class: "avi_img img-responsive" %><% end %></div>

                <p class="avi">Since the late 1980s, we have been hosting the “Steep &amp; Deep Clinic”.  An entertaining night of avalanche education with presentations by local legends, guides, sponsored athletes, and avalanche professionals.  <br /></p>
                <p class="avi">Attended by all ages, this event has touched over 4,000 members of our community.   <br /></p>

                <p style="padding-bottom: 0pt; " class="avi">Please check back for updates on current educational opportunities and events we are offering.</p>
              </div>
              <%= render "layouts/footer" %>