<%= render "layouts/header" %>
<div class="container-fluid">

<div><%= image_tag "ap_logo.svg.png", class: "ap_logo" %>
<%= link_to "When an avalanche hits the slopes, let the dogs out", "http://bigstory.ap.org/article/bfdea282dcad4208ae68bbed9dedd511/when-avalanche-hits-slopes-let-dogs-out", class: "press_release" %>
</div>
<div>
<%= image_tag "CNN_com.png", class: "cnn" %>
<%= link_to "Dogs audition to become heroes", "http://www.cnn.com/US/9901/29/dog.rescue/index.html", class: "press_release" %>
</div>
<h2 class="video">Video</h2>
<div class = "embed-container">
<%= embed("https://www.youtube.com/watch?v=MMfeBzCxBeA") %>
</div>

</div>


<%= render "layouts/footer" %>
