<%= image_tag 'TeamSquawDog.jpg', class:"img-responsive dogs" %>
<div class="container-fluid">
<h1>Dedicated to Avalanche Rescue and Education</h1>
<h4>With a special thanks to:</h4>
<%= image_tag "Squaw-Sheild.png", id: "Squaw-Shield" %>
<div id="supporters">
<%= image_tag "EVH.jpg"  %>
<%= image_tag "cardalogo.png"%>
<%= image_tag "Keoki.jpg" %></div></div>
  <!-- <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a href="#"><%= image_tag 'shaka_pups.png', class:"img-responsive img-circle" %></a>
              <h3 class="text-center">Shaka</h3>
              <p>Dummy Text..</p>

            </div>

            <div class="col-sm-4">
              <a href="#"><%= image_tag 'Ben_and_Kaya.png', class:"img-responsive img-circle" %></a>
              <h3 class="text-center">Kaya</h3>
              <p>Dummy Text..</p>

            </div>

           <div class="col-sm-4">
              <a href="#"><%= image_tag 'york_and_tucker.png', class:"img-responsive img-circle" %></a>
              <h3 class="text-center">Tucker</h3>
              <p>Dummy Text ...</p>

            </div>
          </div>
          <div class="row">

            <div class="col-sm-4">
              <a href="#"><%= image_tag 'Ben_and_Kaya.png', class:"img-responsive img-circle" %></a>
              <h3 class="text-center">Kaya</h3>
              <p>Dummy Text..</p>
            </div>

            <div class="col-sm-4">
              <a href="#"><%= image_tag 'Ben_and_Kaya.png', class:"img-responsive img-circle" %></a>
              <h3 class="text-center">Kaya</h3>
              <p>Dummy Text..</p>
            </div>

               <div class="col-sm-4">
              <a href="#"><%= image_tag 'Ben_and_Kaya.png', class:"img-responsive img-circle" %></a>
              <h3 class="text-center">Kaya</h3>
              <p>Dummy Text..</p>
            </div>


          </div>
        </div> -->
        <div class="container paw"><span><h2><%= image_tag "paw_print.jpg", id: "Cross-logo" %>The Dogs <span class="glyphicon glyphicon-chevron-right"></span></h2></span>

        </div>
<div id="netflix">
  <div id="row-row">
<div id="row-pic">

    <div class="tile">
<div class="tile__media">
        <%= link_to root_path do %>
        <%= image_tag "shaka_pups.png", class:"tile__img img-responsive" %>
        <% end %>
      </div>
      <div class="tile__details">
        <div class="tile__title">Shaka</div>
      </div><!-- tile__details -->
    </div><!-- tile -->



    <div class="tile">
<div class="tile__media">
        <%=image_tag "Ben_and_Kaya.png", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title">Kaya</div>
      </div><!-- tile__details -->
    </div><!-- tile -->



    <div class="tile">
<div class="tile__media">
       <%=image_tag "york_and_tucker.png", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title">Tucker</div>
      </div><!-- tile__details -->
    </div><!-- tile -->

      <div class="tile">
<div class="tile__media">
        <%=image_tag "shaka_pups.png", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title">Shaka</div>
      </div><!-- tile__details -->
    </div><!-- tile -->



    <div class="tile">
<div class="tile__media">
        <%=image_tag "Ben_and_Kaya.png", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title">Kaya</div>
      </div><!-- tile__details -->
    </div><!-- tile -->


    <div class="tile">
<div class="tile__media">
       <%=image_tag "york_and_tucker.png", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title">Tucker</div>
      </div><!-- tile__details -->
    </div><!-- tile -->

          <div class="tile">
<div class="tile__media">
        <%=image_tag "shaka_pups.png", class:"tile__img img-responsive"  %>
        </div>
      <div class="tile__details">
        <div class="tile__title">Shaka</div>
      </div><!-- tile__details -->
    </div><!-- tile -->



    <div class="tile">
<div class="tile__media">
        <%=image_tag "Ben_and_Kaya.png", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title">Kaya</div>
      </div><!-- tile__details -->
    </div><!-- tile -->


    <div class="tile">
<div class="tile__media">
       <%=image_tag "york_and_tucker.png", class:"tile__img"  %>
</div>
      <div class="tile__details">
        <div class="tile__title">Tucker</div>
      </div><!-- tile__details -->
    </div><!-- tile -->
</div><!--  row-pic -->
</div>
</div>