


<%= render 'layouts/header' %>
<div class="Team_dogs">

<%= image_tag 'dog_cover_crop.jpg', class:"img-responsive dogs" %>

</div>
<div class="container-fluid">
<h1>Dedicated to Avalanche Rescue and Education</h1>
<h4>With a special thanks to:</h4>
<%= image_tag "Squaw-Alpine-4cp-horz-stacked.png", id: "Squaw-Shield" %>
</div>
<div class="tainer">
<div class="box1">
<%= image_tag "EVH.jpg", class: "img-responsive", id:"EVH" %>
</div>
<div class="box2"><%= image_tag "cardalogo.png", class: " img-responsive", id:"cardalogo" %>
</div>
<div class="box3"><%= image_tag "Keoki.jpg", class: "img-responsive center-block", id: "Keoki"%>
</div>
</div>

        <div class="container paw"><span><h2><%= image_tag "paw_print.png", id:"Cross-logo" %>The Dogs <span class="glyphicon glyphicon-chevron-right"></span></h2></span>

        </div>
<div id="netflix">
<div id="row-pic">

    <div class="tile">
<div class="tile__media">
                <%= image_tag "wylee.png", class:"tile__img img-responsive" %>

      </div>
      <div class="tile__details">
        <div class="tile__title"><%=link_to "Wylee", wylee_path, class: "dog_name" %></div>
      </div><!-- tile__details -->
    </div><!-- tile -->



    <div class="tile">
<div class="tile__media">
        <%=image_tag "Ben_and_Kaya.png", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title"><%=link_to "Kaya", kaya_path, class: "dog_name" %></div>
      </div><!-- tile__details -->
    </div><!-- tile -->



    <div class="tile">
<div class="tile__media">
       <%=image_tag "murphy.png", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title"><%=link_to "Murphy", murphy_path, class: "dog_name" %></div>
      </div><!-- tile__details -->
    </div><!-- tile -->

      <div class="tile">
<div class="tile__media">
        <%=image_tag "shaka_close.jpg", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title"><%=link_to "Shaka", shaka_path, class: "dog_name" %></div>
      </div><!-- tile__details -->
    </div><!-- tile -->



    <div class="tile">
<div class="tile__media">
        <%=image_tag "boomer.png", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title"><%=link_to "Boomer", boomer_path, class: "dog_name" %></div>
      </div><!-- tile__details -->
    </div><!-- tile -->


    <div class="tile">
<div class="tile__media">
       <%=image_tag "boon.png", class:"tile__img img-responsive"  %>
</div>
      <div class="tile__details">
        <div class="tile__title"><%=link_to "Boon", boon_path, class: "dog_name" %></div>
      </div><!-- tile__details -->
    </div><!-- tile -->

          <div class="tile">
<div class="tile__media">
        <%=image_tag "trooper.jpg", class:"tile__img img-responsive", id: "trooper_netflix"  %>
        </div>
      <div class="tile__details">
        <div class="tile__title"><%=link_to "Trooper", trooper_path, class: "dog_name" %></div>
      </div><!-- tile__details -->
    </div><!-- tile -->


    <div class="tile">
<div class="tile__media">
       <%=image_tag "york_and_tucker.png", class:"tile__img"  %>
</div>
      <div class="tile__details">
        <div class="tile__title"><%=link_to "Tucker", tucker_path, class: "dog_name" %></div>
      </div><!-- tile__details -->
    </div><!-- tile -->
</div><!--  row-pic -->

</div>
 <div class="container paw"><span><h2>Where the Dogs at? </h2></span>
  </div>
<div id="map-container">
  <div id="map-canvas">

  </div>
</div>
<div id="legend">
    Legend
</div>


<%= render 'layouts/footer' %>
