<header>

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">


 <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">


      <span class="sr-only">Toggle navigation</span>

      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand" href="#"><%= image_tag "dog_logo.png", id: 'dog-logo' %></div>
</div>

   <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav pull-right">

                <li> <%= link_to "About the Dogs", "#" %>
      </li>
      <li><%= link_to "Press", "#" %></li>
      <li>
                <%= link_to "AVI Education", "#" %>
              </li>

              <li><%= link_to "Donate", "#" %></li>

              <li class="divider"></li>
              <li>
                <%= link_to "Home", "#" %>
              </li>

             </ul>
           </div><!-- navbar-collapse -->
</div>
</nav>









</header>